<div class="text-center m-3">


<h2 class="mt-4">मानाचा गणपती विसर्जन मिरवणुकीचा क्रम</h2>

<h5 class="mt-3">सालाबाद प्रमाणे यावर्षीही जयहिंद व्यायाम मंडळ हा मानाचा पहिला गणपती असून मंडळाचा गणपती सर्वात शेवटी विसर्जन केला जाईल.</h5>

<div class="responsive text-center">
  <div class="gallery">
    <a target="_blank" href="./assets/stamp1.jpg">
      <img src="./assets/stamp1.jpg" alt="Cinque Terre" width="150px" height="">
    </a>
    <div class="desc">Legal Stamp 1</div>
  </div>
</div>


<div class="responsive text-center">
  <div class="gallery">
    <a target="_blank" href="./assets/stamp2.jpg">
      <img src="./assets/stamp2.jpg" alt="Forest" width="150px" height="">
    </a>
    <div class="desc">Legal Stamp 2</div>
  </div>
</div>
<div class="responsive text-center">
  <div class="gallery">
    <a target="_blank" href="./assets/stamp2.jpg">
        <a href="https://youtu.be/TDBYA-7Dqtc" target="_blank">
            <img src="./assets/hqdefault.jpg" alt="Forest" width="150px" height="">
        </a>
        
    </a>
    <div class="desc">मानाचा गणपती विसर्जन मिरवणुकीचा प्रश्न मार्गी.
        सातारा शहर,शाहूपुरी पोलिस स्टेशन व नगरपालिकेच्या मध्यस्थीने मंडळांमध्ये एकोपा</div>
        <a href="https://youtu.be/TDBYA-7Dqtc" target="_blank" class="btn btn-danger m-2">Watch Video</a>
  </div>
</div>


<div class="clearfix"></div>

<div style="padding:6px;">
<p></p>
</div>
</div>