.navcss{
    background: rgba( 196, 35, 35, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 10.5px );
-webkit-backdrop-filter: blur( 10.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
@media (max-width: 767px) {
    .show_hide {
      display: none;
    }
  }

@media (min-width: 767px) {
    .show_hide2 {
      display: none;
    }
  }

  .smallBanner{
    display: flex;
    display: inline;
  }
/* #navbar1::before{
    content: "";
    background-color: rgb(0, 0, 0);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
} */

/* .glass{
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
} */

.glass{
    background: rgba( 49, 8, 8, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 17px );
    -webkit-backdrop-filter: blur( 17px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#link a{
    text-decoration: none;
    padding: 5px;
    margin: 8px;
    color: white;
    font-size: 20px;
}
#link a:hover{
    background-color: white;
    color: black;
    border-radius: 15px;
}