
<!-- <div id="Namestrip" class="container-fluid">
  <img src="../assets/logo/jayhind-banner.jpg" alt="Jayhind Banner" class="" height="100px">
</div> -->
        <!-- <div class="col-md-1">
           <div>
            <img src="../assets/logo/logo-jayhind.png" class="img-fluid" height=10% alt="jayhind Logo">
           </div>
        </div>
        <div class="col-md-11 bg-primary mb-5 ">
            menus here 
        </div> -->
        <nav class="navbar glass navbar-expand-sm" id="link">
            <div class="container-fluid">
              <div class="navbar-brand" href="#">
                <img src="../assets/logo/logo-jayhind.png" class="" height="100" alt="jayhind Logo">
              </div>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="homepage">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Photo-Gallery</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="aboutpage">About</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    
