

<div id="" class="devotional-bg"> 
    <!-- style="background-image: url('../assets/logo/mandala-background.jpg');" -->
    <!-- Navigation Bar -->
    <!-- <div class="container-fluid" style="background-image: url('../assets/logo/blue-background.jpg'); background-repeat: no-repeat; background-size: cover;">
        <app-navbar></app-navbar> 
    </div> -->
     
    <div class="container-fluid">
        <app-navbar></app-navbar> 
    </div>
    
    <!-- Main Title, Gallery, About US  --> 
    <div class="container-fluid devotional-bg">
        
        <router-outlet></router-outlet>
        
    </div>
    
    <div class="container-fluid devotional-bg">
        <app-footer></app-footer> 
    </div>

</div>