
<!-- Navigation Bar -->
<div id=""> 
    <!-- style="background-image: url('../assets/logo/mandala-background.jpg');" -->

    <div class="container-fluid" style="background-image: url('../assets/logo/blue-background.jpg'); background-repeat: no-repeat; background-size: cover;">
        
        <app-navbar></app-navbar>
        

        
    </div>
    
    <!-- Main Title  -->
    <div class="container-fluid" style="background-image: url('../assets/logo/purple-back.jpg'); background-repeat: no-repeat; background-size: cover;">
        
        <router-outlet></router-outlet>
        
    </div>
</div>