<div class="bg-light" id="main">

  <!-- NAVIGATION BAR HERE -->
  <div id="navigation">
    <div class="row">
      <div id="forlogo" class="col-sm-3 my-2">

        <!-- <span class="">Logo here</span> -->
        <div class="">
          <img src="../assets/logo/jayhind-banner2.png" class="img-fluid" alt="jayhind Logo">
        </div>

      </div>
      <div class="col-sm-9 glass display" id="forNavbar">
        <!-- NAVBAR CODE HERE -->

        <app-navbar></app-navbar>
      </div>
    </div>

  </div>

 <!--ROUTER OUTLET HERE OF MAIN DIV SECTION-->

  <div id="mainRouterOutlet" class="mt-1">

      <router-outlet></router-outlet>
      
  </div>

  <hr class="text-white">
  <!-- FOOTER HERE -->
  <div id="footer mt-2" class="display">
    <div class="row">
      <div class="glassFooter">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
 