<!-- style="background-image: url('../assets/logo/mandala-background.jpg'); background-repeat: no-repeat; background-size: cover;" -->
<div class="container-fluid">


    <div class=" text-center show_hide" style="height: auto" >
        <img src="../assets/logo/jayhind-banner2.jpg" alt="Jayhind Banner" class="img-fluid"  >
    </div>

    <div class="row" >
        
        <div class="col text-center">
            <img src="../assets/logo/ganesh_png.png" alt="ganesh_png" class="me-5 p-0 text-end" width="90%">
        </div>
        <div class="text-start col">
            <img src="../assets/logo/bappa-morya-gold.png" alt="ganesh_png" class="m-auto p-auto text-start" width="90%">
        </div>
    </div>
</div>
