
<div class="container">
    <div class="row p-5 text-center text-white">
        <div class="col-md-6 youtube-thumbnail">
            <a href="https://www.youtube.com" target="_blank">

                <img src="./assets/croppedSlider/agman1.jpg" class="img-thumbnail" alt="Agaman Sohla Part-I">
                
                <p>आगमन सोहळा भाग 1 - जयहिंद व्यायाम मंडळ, सातारा </p>
            </a>
        </div>
        <div class="col-md-6 youtube-thumbnail">
            <a href="#">

                <img src="./assets/croppedSlider/visarjan.jpg" class="img-thumbnail" alt="Visarjan Sohla">
                
                <p>विसर्जन सोहळा, जयहिंद व्यायाम मंडळ, सातारा</p> 
            </a>
        </div>
        <!-- <div class="col-md-4 youtube-thumbnail">
            <a href="#">

                <img src="./assets/croppedSlider/agaman2.jpg" class="img-thumbnail" alt="Agaman Sohla Part-II">
                
                <p>आगमन सोहळा भाग 2 - जयहिंद व्यायाम मंडळ, सातारा </p>
            </a>
        </div> -->
    </div>
    <div class="text-center text-white">
        <a href="#" class="btn btn-danger" routerLink="/videoja">See All Videos</a>
      </div>
   
</div>
